<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper" >
  <resultMap id="BaseResultMap" type="study.cjj.eloan.base.domain.SystemDictionaryItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parentId" property="parentId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="tvalue" property="tvalue" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="TINYINT" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="study.cjj.eloan.base.domain.SystemDictionaryItem" useGeneratedKeys="true" keyProperty="id" >
    insert into systemdictionaryitem (parentId, title, tvalue, 
      sequence, intro)
    values (#{parentId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{tvalue,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=TINYINT}, #{intro,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="study.cjj.eloan.base.domain.SystemDictionaryItem" >
    update systemdictionaryitem
    set parentId = #{parentId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      tvalue = #{tvalue,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=TINYINT},
      intro = #{intro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, parentId, title, tvalue, sequence, intro
    from systemdictionaryitem
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, parentId, title, tvalue, sequence, intro
    from systemdictionaryitem
  </select>
  
  <sql id="select_where">
		<where>
			<if test="parentId!=-1">
				AND parentId = #{parentId}
			</if>
			<if test="keywords!=null">
				AND title LIKE concat('%',#{keywords},'%')
			</if>
		</where>
	</sql>
	<select id="queryForCount" resultType="int">
		select count(id) from systemdictionaryitem
		<include refid="select_where" />
	</select>
	<select id="query" resultMap="BaseResultMap">
		select  id,parentId,title, tvalue, sequence, intro
		from `systemdictionaryitem`
		<include refid="select_where" />
		order by sequence asc
		<if test="pageSize &gt; -1">
			LIMIT #{start},#{pageSize}
		</if>
	</select>
	
	<resultMap id="ListResultMap" type="study.cjj.eloan.base.domain.SystemDictionaryItem">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="tvalue" property="tvalue" jdbcType="VARCHAR" />
	</resultMap>

	<select id="listItemByParentSn" resultMap="ListResultMap">
		select i.id as id,i.title as title,i.tvalue as tvalue 
		FROM systemdictionaryitem i join systemdictionary d on i.parentid=d.id
		where d.sn = #{sn}
		order by i.sequence;
	</select>
	
  
</mapper>