<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="study.cjj.eloan.base.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="study.cjj.eloan.base.domain.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="bitState" property="bitState" jdbcType="BIGINT" />
    <result column="realName" property="realName" jdbcType="VARCHAR" />
    <result column="idNumber" property="idNumber" jdbcType="VARCHAR" />
    <result column="phoneNumber" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="authScore" property="authScore" jdbcType="INTEGER" />
    <result column="realAuthenticationId" property="realAuthenticationId" jdbcType="BIGINT" />
    
    <association column="incomeGrade_id" property="incomeGrade" javaType="study.cjj.eloan.base.domain.SystemDictionaryItem" select="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
    <association column="marriage_id" property="marriage" javaType="study.cjj.eloan.base.domain.SystemDictionaryItem" select="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
    <association column="kidCount_id" property="kidCount" javaType="study.cjj.eloan.base.domain.SystemDictionaryItem" select="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
    <association column="educationBackground_id" property="educationBackground" javaType="study.cjj.eloan.base.domain.SystemDictionaryItem" select="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
    <association column="houseCondition_id" property="houseCondition" javaType="study.cjj.eloan.base.domain.SystemDictionaryItem" select="study.cjj.eloan.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from userinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="study.cjj.eloan.base.domain.UserInfo" keyProperty="id" >
    insert into userinfo (<include refid="base_Column"/>)
    values (#{id},0, #{bitState,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{authScore,jdbcType=INTEGER},#{realAuthenticationId,jdbcType=BIGINT},#{incomeGrade.id,jdbcType=BIGINT}, 
      #{marriage.id,jdbcType=BIGINT}, #{kidCount.id,jdbcType=BIGINT}, #{educationBackground.id,jdbcType=BIGINT}, 
      #{houseCondition.id,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="study.cjj.eloan.base.domain.UserInfo" >
    update userinfo
    set version = version + 1,
      bitState = #{bitState,jdbcType=BIGINT},
      realName = #{realName,jdbcType=VARCHAR},
      idNumber = #{idNumber,jdbcType=VARCHAR},
      phoneNumber = #{phoneNumber,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      authScore = #{authScore,jdbcType=INTEGER},
      realAuthenticationId = #{realAuthenticationId,jdbcType=BIGINT},
      incomeGrade_id = #{incomeGrade.id,jdbcType=BIGINT},
      marriage_id = #{marriage.id,jdbcType=BIGINT},
      kidCount_id = #{kidCount.id,jdbcType=BIGINT},
      educationBackground_id = #{educationBackground.id,jdbcType=BIGINT},
      houseCondition_id = #{houseCondition.id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT} AND version = #{version}
  </update>
  
  <sql id="base_Column">
  	id,version, bitState, realName, 
      idNumber, phoneNumber,email,authScore,realAuthenticationId,incomeGrade_id, 
      marriage_id, kidCount_id, educationBackground_id, 
      houseCondition_id
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="base_Column"/>
    from userinfo
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="base_Column" />
     from userinfo
     where id = #{id,jdbcType=BIGINT}
  </select>
  
</mapper>